h1 {
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
}

th {
    visibility: hidden;
}
ul{
    list-style-image: url('images/pigicon_2_25x25.png');
}
.completed{
    text-decoration: line-through;
    background-color: #DECADE;
    font-weight: bold;
}

.jumbotron {
    background-color: #D1E5E5;
    color: darkslategray; 
}
#filter-form{
  margin-left: 40px;
}
#right{
    text-align: right; 
}