h1 {
    text-align: center; 
}

th {
    visibility: hidden;
}
ul{
    list-style-image: url('pigicon_2_25x25.png');
}
.completed{
    text-decoration: line-through;
}

.jumbotron {
    background-color: #D1E5E5;
    color: darkslategray; 
}
#right{
    text-align: right; 
}